@model _astoriaTrainingAPI.Models.StudentMaster

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StudentMaster</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StdFname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StdFname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StdLname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StdLname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StdGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StdGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StdJoiningDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StdJoiningDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StdResignationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StdResignationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StdCource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StdCource.CourceId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StdRollNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
